
html
{
	background-image: url(panda.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;



}

body{
	width: 100%;
}

.logo {

	top: 0;
	left: 0;
	position:fixed;
  }

#menu
{
	overflow: auto;

	position: fixed;
	width: 100%;
	height: 45px;
	opacity: 100%;
	text-align: center;
	font-size: 24px;
	padding: 10px;
	font-family: 'Roboto', sans-serif;
	background-color: darkgrey;
	top:0;
	left:0;
	right:0;

	list-style-type: none;
	display: inline-block;
	z-index:2;


}


#about
{
	width: 70%;
	font-size: 25px;
	margin-top: 150px;

	background-color: rgb(62, 56, 110,0.3s);
	position: relative;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	left:15%;
	
}

#aboutText
{
	background-color: rgba(145, 145, 145, 0.7);
	border-radius: 20px;
	display: table;
}

.menuObject
{
	position: relative;
	flex: 2;
	display: block;
	justify-content: center;
	align-items: center;
	margin-right: 5%;
	left: 18%;
	float:left;
	margin-top: 0;
	transition: transform .5s;
	float: left;
	color: rgb(199, 199, 199);
	text-decoration: none;
	font-weight: bold;
	-webkit-text-stroke: 1px rgb(0, 100, 22);

}



.menuObject:hover
{
	transform: scale(0.95);

}

.section{
	width: 100%;	
	text-align: center;
	color: rgb(0, 0, 0);
	text-shadow: #fff;
	/* border: 5px solid; */
}

h1{
	font: 70px 'Roboto', sans-serif;
	text-align: center;
	font-weight: bold;
	color:rgba(149, 153, 151, 0.575);
	-webkit-text-stroke: 2px rgb(0, 100, 22);
}

.f_b{
	font: 30px 'Roboto', sans-serif;
	font-weight: bold;
	color:rgba(0, 0, 0, 0.575);
	/* -webkit-text-stroke: 2px rgb(185, 185, 185); */
	background-color: rgba(126, 121, 121, 0.6);
	display: table;
	position: relative;
	border-radius: 8px;
	left:38%;
}



#webs td{
	position: relative;
	border: 2px soid rgba(0, 0, 0, 0);
	border-color: black;
	font-size: 50%;
	font-family: 'Alef', sans-serif;
	background-color: rgba(53, 53, 53, 0.6);
	color:#fff;
	border-radius: 8px;


}

#spa{
	text-align: center;
	color: rgb(0, 0, 0);
	font-size: 40px;
	margin-left: auto;
	margin-right: auto;
	display: block;;
	width: 60%;
	/* font-weight: bold; */
	
}

h2{
	font: 30px 'Roboto', sans-serif;
	font-weight: bold;
	color:rgba(255, 255, 255, 0.8);
}

.container{
	width: 1500px;
	display: grid;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin:auto;

}

.contact_element{
	width: 100%;
	padding: 25px 40px;
	text-align: center;
	margin: auto;
	border-radius: 10px;
}

.line{
	width: 100%;
	border: none;
	outline: none;
	background-color: rgba(230, 230, 230, 0.6);
	/* padding: 0.5rem 1rem; */
	background-color: rgba(230, 230, 230, 0.6);
	padding: 10px 5px;
	font-size: 1.1rem;
	margin-bottom: 22px;
	transition: .3s;
	border-radius: 10px;
	font-family: 'Roboto', sans-serif;
	
	float: left;


}

.line:focus{
    border: 2px solid rgba(0, 158, 66, 0.47);
    background-color: #c0c0c0;
}



.button
{
	background-color: rgba(0, 168, 84, 0.8);
	color: rgb(182, 182, 182);
	transition: 0.5s;
	width: 18%;
	border-radius: 5px;
	font-size: 20px;
	font-weight: bold;
	font-weight: bold;
	font-family: 'Roboto', sans-serif;
	border:none;

}

.button:hover
{
	background-color: rgba(61, 57, 57, 0.8);
	transition: 0.5s;
}

.emojionearea-editor:not(.inline) {
	min-height: 8em!important;
  }




 
  
  


